*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  

  .double_content{
    display: flex;
    flex-direction: row;
  }
  .navbar{
    margin:40px 10px;
    min-width: 280px;
    width: 300px;
    height: 100%;
    border-right: solid;
  
  }
